.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 5rem;
        transition: all 0.2s;
        position: relative;
        font-size: $default-font-size;
        font-weight: 600;

        // Change for <button> element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-0.2rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &::after {
            transform: scaleX(1.2) scaleY(1.4);
            opacity: 0;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .3s;
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &--animated {
        animation: moveInBottom 0.5s ease-out 0.5s backwards;
    }
}

.btn-text {

    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
    }

    &:hover {
        background-color: $color-primary;
        color: white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}