*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;

    @include respond (tab-lan) {
        // width < 1200px?
        font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
    }

    @include respond (tab-port) {
        // width < 900px?
        font-size: 50%; // 1rem = 8px, 8/16 = 50%
    }

    @include respond (big-desktop) {
        // width > 1800px?
        font-size: 75%; //1rem = 12, 12/16 = 75%
    }
}

body {
    box-sizing: border-box;
    padding: 2.5rem;

    @include respond (tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}